body {
    margin: 0;
    text-align: center;
    background: #333;
}
h1, h2, h3, h4,h5,h6 {
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333ccc
}
p {
    font-size: 17px;
    color: #eee;
}
